@{
    ViewBag.Title = "Contact";
}

<div class="d-flex flex-column mt-5 ">

<h2 class="text-center">Realizado por: </h2>
<h3 class="text-center">@ViewBag.Message</h3>


<address class="text-center">
    <strong>Web:</strong>   <a href="https://lburbano.site/">Clic Aquí</a><br />
</address>
</div>