@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron hero">
    <div class="insidej">
        <h1 class="display-1 titulo">Bienvenido a Shippers Northwind!</h1>
        <div class="d-flex justify-content-center">

        <p><a class="btn btn-primary btn-lg cta" href="/Shipper" role="button">Conoce mas &#9193;</a></p>
        </div>
    </div>
</div>

