html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 184, 174, 0.7);
}

    .hero::before {
        background-image: url("https://wallpaperaccess.com/full/781822.jpg");
        background-size: cover;
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
    }


.insidej{
    position: relative;
}

.titulo{
    text-align: center;
    font-weight: 700;

}

.cta {
    background-color:#00a5ed;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fullcontainer {
    position: relative;
    height: 90vh;
    width: 100%;
  
   
}

    .fullcontainer::before {
        background-image: url("https://rare-gallery.com/mocahbig/407359-movie-poster-Breaking-Bad-Bryan-Cranston-Walter-White.jpg");
        background-size: cover;
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

 .titulo{
     color: #ffffff;
     opacity: 0.99;
 }

 .boton{
     opacity: 0.99;
 }

.frases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}